<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataGridView.Properties.Settings.MySchoolConnectionString"
            connectionString="Data Source=.;Initial Catalog=MySchool;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataGridView.Properties.Settings.MySchoolConnectionString1"
            connectionString="Data Source=.;Initial Catalog=MySchool;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>