<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="实验_数据库开发_一_.Properties.Settings.connectionStr" connectionString="Data Source=.;Initial Catalog=MySchool;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>